@page
@model Alcatraz.GameServices.Pages.Account.SignUpModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Sign Up";
}

<h3>Sign Up to Alcatraz</h3>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route="SignUp">
            <div class="form-group mb-3">
                <label class="control-label">Login</label> <input class="form-control" asp-for="@Model.RegisterModel.Username" />
                <label class="control-label">In-game Nickname</label> <input class="form-control" asp-for="@Model.RegisterModel.PlayerNickName" />
                <label class="control-label">Password</label> <input class="form-control" type="password" asp-for="@Model.RegisterModel.Password" />
                <label class="control-label">Retype Password</label> <input class="form-control" type="password" asp-for="@Model.RegisterModel.PasswordRetype" />
               
                <span class="text-danger">@Model.ErrorMessage</span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create account" class="btn btn-primary" />
            </div>
            <div class="form-group mb-3">
                <span>Already have an account? <a href="@Url.Page("/Account/SignIn")">Sign In</a></span>
            </div>
        </form>
    </div>
</div>
